body {
	background-color: black;
	color: white;
}
table {
	margin: auto; 
	border-collapse: collapse;
	margin-top: 3%;
	border-spacing: 0;
}
tbody{
	text-align: center;
}
td {
	border: 3px solid white;
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
}
#topbar {
	width: auto;
	margin: auto;
	height: 100px;
	border: 3px solid white;
}
#topspacer {
	height: 10px;
}
#coolguybutton {
	position: absolute;
	left: 425px;
	top: 12px;
	height: 80px;
}
.unveiled {
	background-color: white;
	color: black;
}
#counter {
	position: absolute;
	left: 575px;
	top: 14px;
	font-size: 70px;
	color: red;
	font-family: "8bitretro", sans-serif;
}
@font-face {
	font-family:"8bitretro";
	src: url("PressStart2P.ttf") format("truetype");
	/*This font was found online at https://www.fontspace.com/codeman38/press-start-2p and is approved for personal use */
}
.flag {
	height: 45px;
	width: 45px;
}
#playername {
	position: absolute;
	left: 14px;
	top: 54px;
}
